<h1>New Topic</h1>

<div class="row">
  <div class="col-md-4 .col-md-offset-4 col-sm-4 .col-sm-offset-4 col-lg-4 .col-lg-offset-4">
    <p>Please enter the Topic information</p> <br>
  </div>
  <div class="col-md-4 .col-md-offset-4 col-sm-4 .col-sm-offset-4 col-lg-4 .col-lg-offset-4">
    <%= form_for @topic, html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, rows: 8 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.label :public, class: 'checkbox' do %>
            <%= f.check_box :public %> Public topic
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>