
<div class="row">
  <div class="">
    <p class="lead"><%= @topic.name %></p>
    <%= render @posts %>
    <%= will_paginate @posts %>
  </div>
  <div class="">
    <% if can? :create, Post %>
      <%= link_to "Add Post", new_topic_post_path(@topic), class: 'btn btn-large btn-primary' %>
    <% end %>

    <% if can? :destroy, @topic %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-large btn-danger', confirm: 'Are you sure you want to delete this topic?' %>
    <% end %> 
    <% if can? :update, @topic %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-primary btn-large' %> <br>
<% end %>

  </div>
</div>

