<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse in collapse" id="bs-example-navbar-collapse-1" style="height: auto;">
      <ul class="nav navbar-nav">
        <li class="active"><li><%= link_to "Topics", topics_path %></li>
        <li class="active"><li><%= link_to "Popular", posts_path %></li>
        <li class="active"><li><%= link_to "Users", users_path %></li>
        <li class="active"><li><%= link_to "About", about_path %></li>
        <li class="active"><li><%= link_to "My Profile", about_path %></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          
        </div>
        
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

