<div class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Freshit</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><li><%= link_to "Topics", topics_path %></li>
                    <li class="active"><li><%= link_to "Popular", posts_path %></li>
                    <li class="active"><li><%= link_to "Users", users_path %></li>
                    <li class="active"><li><%= link_to "About", about_path %></li>
                  </ul>
                  <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                  </form>
                  <ul class="nav navbar-nav navbar-right">
           
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
                        <%= current_user.name  %>
                      </a>

                      <ul class="dropdown-menu">
                        <li class="active">
                          <li><%= link_to "My Profile", current_user %></li>
                          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>



            

           

