<!DOCTYPE html>
<html>
  <head>
    <div class="">
    <title>Fresh-it</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

 <% if current_user %>   
  <%= render partial: 'partials/nav-bar' %>
 <% end %>
  <% if !current_user %>   
  <%= render partial: 'partials/guest-nav-bar' %>
 <% end %>
      

<div class="container small-widt"><% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %></div>

      <div class="container">
      <%= yield %>
      </div>
    </div>
   <%= javascript_include_tag "application" %>
   <%= yield :page_scripts %>
  </body>
</html>